/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");
body, input, select, textarea {
		color: #666;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.65em;
}

html, body { height: 100%; }

.inner-side{
	background-color:#C62E65;
	min-height:100%;
	color: #E7ECEF;
	padding: 50px;
}

.compiler-side{
	padding: 50px;
}

.inner-h{
	color: #E7ECEF;
}

.compiler-h{
	color: #C62E65;
}