/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");
body, input, select, textarea {
		color: #666;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 300;
}

html, body { height: 100%; }

.inner-side{
	background-color:#C62E65;
	min-height:100%;
	color: #E7ECEF;
}

.form-control, .btn, .btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active{
	border-color: #C62E65;	
	border-radius: 0px;
}

.form-control {
	font-size: 20px;
}

.form-control[readonly]{
	resize: none;
}

.btn-success{
	background-color: #C62E65;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
	background-color: #932F6D;
}

.padding{
	padding: 50px;
}

.inner-h{
	color: #E7ECEF;
}

.compiler-h{
	color: #C62E65;
}

.trade-marks{
	position: fixed;
	bottom: 0;
	left: 0;
}

.trade-marks a{
	color:#C62E65;
	text-decoration: none;
}